In [1]:
%pip install plotly

Requirement already satisfied: plotly in ./venv/lib/python3.13/site-packages (6.1.2)
Requirement already satisfied: narwhals>=1.15.1 in ./venv/lib/python3.13/site-packages (from plotly) (1.41.1)
Requirement already satisfied: packaging in ./venv/lib/python3.13/site-packages (from plotly) (25.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from datetime import datetime as dt, timedelta
import plotly.express as px
import plotly.graph_objects as go
import plotly.colors

In [3]:
data = pd.read_csv('online_retail.csv')
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
data.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [5]:
data.dropna(subset=['CustomerID'],inplace=True)

In [6]:
data['InvoiceDate']= pd.to_datetime(data['InvoiceDate']) 
data['TotalAmount']= data['UnitPrice'] * data['Quantity']

In [7]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [26]:
reference_date = pd.Timestamp(dt.now().date())
reference_date

Timestamp('2025-06-17 00:00:00')

In [27]:
reference_date = data['InvoiceDate'].max() + timedelta(days=1)
reference_date

Timestamp('2011-12-10 12:50:00')

In [10]:
rfm = data.groupby('CustomerID').agg({
    'InvoiceDate' : lambda x:(reference_date - x.max()).days,
    'InvoiceNo' : 'count',
    'TotalAmount' : 'sum'
})

In [11]:
rfm

            InvoiceDate  InvoiceNo  TotalAmount
CustomerID
12346.0             326          2         0.00
12347.0               2        182      4310.00
12348.0              75         31      1797.24
12349.0              19         73      1757.55
12350.0             310         17       334.40
...                 ...        ...          ...
18280.0             278         10       180.60
18281.0             181          7        80.82
18282.0               8         13       176.60
18283.0               4        756      2094.88
18287.0              43         70      1837.28

[4372 rows x 3 columns]

In [12]:
rfm.head()

            InvoiceDate  InvoiceNo  TotalAmount
CustomerID
12346.0             326          2         0.00
12347.0               2        182      4310.00
12348.0              75         31      1797.24
12349.0              19         73      1757.55
12350.0             310         17       334.40

In [13]:
rfm.rename(columns={'InvoiceDate':'Recency','InvoiceNo':'Frequency','TotalAmount':'Value'},inplace=True)

In [14]:
rfm.head()

            Recency  Frequency    Value
CustomerID
12346.0         326          2     0.00
12347.0           2        182  4310.00
12348.0          75         31  1797.24
12349.0          19         73  1757.55
12350.0         310         17   334.40

In [15]:
# define quantiles
quantiles = rfm.quantile(q=[0.25,0.5,0.75])
quantiles

      Recency  Frequency      Value
0.25     17.0       17.0   293.3625
0.50     50.0       42.0   648.0750
0.75    143.0      102.0  1611.7250

In [16]:
# Assign RFM scores
def RScore(x,p,d):
    if p == 'Recency':   # low recency == better
        if x <= d[p][0.25]:
            return 4
        elif x <= d[p][0.5]:
            return 3
        elif x<= d[p][0.75]:
            return 2
        else:
            return 1
        
    else:               # high frequency and value == better
        if x <= d[p][0.25]:
            return 1
        elif x <= d[p][0.5]:
            return 2
        elif x<= d[p][0.75]:
            return 3
        else:
            return 4

In [17]:
rfm['R'] = rfm['Recency'].apply(RScore,args=('Recency',quantiles,))
rfm['F'] = rfm['Frequency'].apply(RScore,args=('Frequency',quantiles,))
rfm['M'] = rfm['Value'].apply(RScore,args=('Value',quantiles,))
rfm.head()

            Recency  Frequency    Value  R  F  M
CustomerID
12346.0         326          2     0.00  1  1  1
12347.0           2        182  4310.00  4  4  4
12348.0          75         31  1797.24  2  2  4
12349.0          19         73  1757.55  3  3  4
12350.0         310         17   334.40  1  1  2

In [18]:
rfm['RFM_Segment'] = rfm['R'].astype(str) + rfm['F'].astype(str) + rfm['M'].astype(str)
rfm['RFM_Score'] = rfm['R'] + rfm['F']+ rfm['M']
rfm.head()

            Recency  Frequency    Value  R  F  M RFM_Segment  RFM_Score
CustomerID
12346.0         326          2     0.00  1  1  1         111          3
12347.0           2        182  4310.00  4  4  4         444         12
12348.0          75         31  1797.24  2  2  4         224          8
12349.0          19         73  1757.55  3  3  4         334         10
12350.0         310         17   334.40  1  1  2         112          4

In [19]:
segment_labels = ['Low-Value','Mid-Value','High-Value']

def assign_segment(score):
    if score < 5:
        return 'Low-Value'
    elif score < 9:
        return 'Mid-Value'
    else:
        return 'High-Value'

In [20]:
rfm['RFM_Segment_Label'] = rfm['RFM_Score'].apply(assign_segment)
rfm.head()

,Recency,Frequency,Value,R,F,M,RFM_Segment,RFM_Score,RFM_Segment_Label
CustomerID,,,,,,,,,
12346.0,326,2,0.00,1,1,1,111,3,Low-Value
12347.0,2,182,4310.00,4,4,4,444,12,High-Value
12348.0,75,31,1797.24,2,2,4,224,8,Mid-Value
12349.0,19,73,1757.55,3,3,4,334,10,High-Value
12350.0,310,17,334.40,1,1,2,112,4,Low-Value